@import url('https://fonts.googleapis.com/css?family=BioRhyme:800');

/* -- Small Layout-- */

body {
    margin: 0;
    padding: 0;
    background: black;
}

.header {
    margin: 0 auto;
    background: #b20c33;
    margin-bottom: 10px;
}

.header h1 {
    color: #FFF;
    font-family: 'BioRhyme','Georgia', serif;
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.main {
    margin: 15px;
}

.main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main ul li {
    margin: 0 0 15px 0;
}

.main ul li img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px dashed #fff;
}



/* -- Medium Layout-- */
@media screen and (min-width: 600px) and (max-width: 1200px){

    .main ul li {
        width: calc(50% - 8px);
        float: left;
        margin: 0 15px 15px 0;
    }

    .main ul li:nth-child(2n) {
        margin: 0 0 15px 0;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: left;
    }
}


/* -- Large Layout -- */
@media screen and (min-width: 1200px) {

    .main {

        margin: 0 15px;;
    }

    .main ul li {
        width: calc(25% - 12px);
        float: left;
        margin: 0 15px 15px 0;
    }

    .main ul li:nth-child(4n) {
        margin: 0 0 15px 0;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: left;
    }

}

/* Hover ON Image */
.imageHover {
    position: relative;


}
.imageHover img {
    display: block;
}
.imageHover .link {
    opacity: 0;
    position: absolute;
    bottom: 50px;
    height: 20px;
    left: 1px;
    right: 0px;
    padding: 20px 0px;
    color: yellow;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 700ms;
    -moz-transition: opacity 700ms;
    -o-transition: opacity 700ms;
    transition: opacity 700ms;
    font-family: sans-serif;

}
.imageHover:hover .link {
    opacity: 0.8;
}

